@import "./../../../styles/variables.scss";

.projects__section-container {
    padding-top: 250px;
}

.projects__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include breakpoint(md) {
        gap: 5rem;
    }
}
