@import "./../../../styles/variables.scss";

.about__section-BGtop {
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: calc(100% + 5rem);
    transform: rotateZ(-5deg) translateY(-5rem);
    background: $bloodRed;
    z-index: -1;
}

.about__section-BGbottom {
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 300%;
    height: calc(100% + 5rem);
    transform: rotateZ(5deg) translateY(5rem);
    background: $bloodRed;
    z-index: -1;
}

.about__section-container {
    position: relative;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include breakpoint(md) {
        flex-direction: row;
        gap: 3rem;
    }
}

.about {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &__descriptions {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include breakpoint(md) {
            width: 90%;
        }

        .description-txt {
            color: $lightGray;
        }
    }
}

.technologies {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, fill);
        row-gap: 1rem;
        column-gap: 0.5rem;

        @include breakpoint(md) {
            grid-template-columns: 1fr;
        }

        @include breakpoint(lg) {
            grid-template-columns: 1fr 1fr;
        }
        .technology__img {
            color: $lightGray;
            font-size: 1.5rem;
            display: flex;
            align-items: center;

            @include breakpoint(sm) {
                font-size: 2rem;
            }
        }

        .technology__name {
            font-size: 1.1rem;

            @include breakpoint(sm) {
                font-size: 1.2rem;
            }
        }
    }

    &__header,
    &__footer {
        color: $cultured;
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-weight: 800;
    }
    &__footer {
        text-align: end;
    }

    .arrow {
        padding: 0 3px;
        font-weight: 400;
        color: $silverChalice;
    }

    .react {
        animation: spin 8s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
