@import "./../../styles/variables.scss";

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navHeight;
    padding: 0 1.5rem;
    position: fixed;
    background: rgba($eerieBlack, 0.5);
    backdrop-filter: blur(4px);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    z-index: 100;

    @include breakpoint(md) {
        padding: 0 3rem;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu-container {
        svg {
            font-size: 2rem;
        }
        @include breakpoint(md) {
            display: none;
        }
    }

    .menu__toggle {
        position: relative;
        z-index: 10;
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 3rem 3rem;
    width: 70vw;
    max-width: 400px;
    height: 100vh;
    outline: 0px;
    background: $eerieBlack;
    z-index: 9;
    transform: translateX(100vw);
    opacity: 0;
    transition: all 0.3s ease;
}

.menu-show {
    transform: translateX(0vw);
    opacity: 1;
}
