// COLORS - https://coolors.co/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff
$richBlack: #0b090a;
$eerieBlack: #161a1d;
$bloodRed: #660708;
$rubyRed: #a4161a;
$carnelian: #ba181b;
$imperialRed: #e5383b;
$silverChalice: #b1a7a6;
$lightGray: #d3d3d3;
$cultured: #f5f3f4;
$white: #fff;

// FONTS -
$Ubuntu: "Ubuntu", sans-serif;
$NanumGothic: "Nanum Gothic", sans-serif;
